@use '@/assets/styles/mixins' as *;
@use '@/assets/styles/variables' as *;

.introPreview {
   max-width: 24rem;
   position: relative;
   display: inline-block;
   background-color: rgba(#fff, 0.7);
   z-index: 1;
   top: -32px;

   @include to($tablet) {
      top: initial;
   }

   img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }

   &__img {
      overflow: hidden;
   }

   &::after,
   &Mask {
      width: 100%;
      position: absolute;
   }
   &::after {
      content: '';
      z-index: -2;
      right: -1.875rem;
      bottom: -2.75rem;
      border: 0.125rem solid var(--base-text-color);
      aspect-ratio: 340/318;
   }

   &Mask {
      top: 0;
      left: 0;
      aspect-ratio: 1;
      background-color: rgba(#fff, 0.1);
      z-index: 2;
   }

   &__firstName,
   &__lastName,
   &__squareGrid1,
   &__squareGrid2,
   &__zigzagLine1,
   &__zigzagLine2,
   &__zigzagLine3 {
      position: absolute;
   }

   &__squareGrid1,
   &__squareGrid2,
   &__zigzagLine1,
   &__zigzagLine2,
   &__zigzagLine3 {
      color: #5f5f5f;
   }

   &__squareGrid1 {
      top: -28px;
      left: -68px;
   }

   &__squareGrid2 {
      z-index: -1;
      bottom: -12px;
      right: -80px;
      color: var(--color-sunset-orange);
   }

   &__zigzagLine1 {
      top: 5.75rem;
      right: -6.25rem;
   }
   &__zigzagLine2 {
      top: 50%;
      left: -2rem;
      z-index: -1;
      color: var(--sky-blue);
   }
   &__zigzagLine3 {
      bottom: 0;
      left: -7.75rem;
   }

   &__firstName {
      bottom: -2.5rem;
      right: 12rem;
   }

   &__lastName {
      bottom: -4.25rem;
      right: 4rem;
   }
}
