@use 'variables' as *;
@use 'keyframes' as *;
@use 'mixins' as *;
@use 'root' as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: none;
}

::selection {
   background: var(--selection);
   color: var(--base-text-color);
}

html {
   --site-scale: 100vw / #{$desktop};

   font-size: calc((var(--site-scale)) * #{16});

   @include to($lg) {
      --site-scale: 100vw / #{$lg};
   }

   @include to($tablet) {
      --site-scale: 100vw / #{$tablet};
   }

   @include to($mobile) {
      --site-scale: 100vw / #{$mobile};
   }
}

body {
   font-family: var(--font-jetbrains-mono);
   background-color: var(--background);
   color: var(--base-text-color);
   height: 100dvh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

button {
   background-color: transparent;
   border: none;
}

a {
   color: inherit;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

.main {
   flex: 1;
}

.noise {
   position: fixed;
   top: -300%;
   left: -150%;
   width: 600%;
   height: 600%;
   opacity: 0.2;
   z-index: 9999;
   animation: noise-grain 9s steps(10) infinite;
   background-image: url('/images/noise.webp');
   background-size: 12.5rem;
   background-repeat: repeat;
   pointer-events: none;
}

.container {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0 1rem;
}
